<div class="flex-container">
    <div class="flex-menu">
        <h2>Food Menu</h2>
<table class="table table-hover" >
    <thead>
        <th> Id</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Add Item</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of foodItems">
            <td>{{item.item_id}}</td>
            <td>{{item.item_name}}</td>
            <td>{{item.item_cost}}</td>
            <td><button class="btn btn-primary" (click)="addItem(item)">Add</button></td>
        </tr>
    </tbody>
</table>
</div>
<div class="flex-bill">
    <app-bill [billItems]="billItems" [total]="total"(newTotalEvent)="updateTotal($event)"></app-bill>
</div>
</div>